{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}  Blog Page{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in post %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <!--                         <div class="fakeimg">Fake Image</div>-->
                    <p class="card-text text-muted h6">{{ request.user.username }} | {{ post.created }} </p>
                    <p class="card-text">{{ post.blog|truncatewords:25 }}</p>
                    <a href="{% url 'blogapp:fullDetail' post.id%}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}

<!--Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae corrupti iste expedita at atque quo quos commodi? -->
<!--    Quo eligendi consequatur deleniti eum, error unde officiis corrupti quis cupiditate, ab cum.-->
