{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block title %}  Blog List{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class=" m-auto mt-3 justify-content-end  ">
            <form class="d-flex  w-50 " action="{% url 'blogapp:blogDetail'%}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for post in post %}
        <div class="col-md-4 p-2 mt-3 left">
            <div class="card mb-4">
                <div class="card">
                    <img src="{{ post.photos.url }}" alt="{{ post.title }} " class="card-img-top"
                         style="height: 222px;">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}
                            <a href="{% url 'blogapp:delete' post.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                        </h2>
                        <p class="card-text text-muted h6">{{ request.user.username }} | {{ post.created }} | {{ post.category.name }} </p>
                        <p class="card-text">{{ post.blog|slice:":150" }}...</p>
                        <a href="{% url 'blogapp:fullDetail' post.id %}" class="btn btn-primary">Read More
                            &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if post.has_previous %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{post.previous_page_number}}" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page=1#">1</a></li>
                    {% endif %}
                    <li class="page-item ">
                        <a class="page-link" href="">2 </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    {% if post.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{post.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{%endblock%}


