{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Profile
{% endblock %}
{% block meta %}
{% endblock %}
{% block body %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ image.photos.url }}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ request.user.username }}</h5>
                        <p class="text-muted mb-1"></p>
                        <p class="text-muted mb-4">{{final_data.name}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Name">About</label>
                                <input type="text" class="form-control" id="Name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" class="form-control" id="mobile" name="mobile">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="upload_plan" class="form-label">Photo</label>
                                <input type="file" class="form-control" id="upload_plan" name="images" required>
                            </div>
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
